.posts {
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: darkslategrey;
  border-radius: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  color: white;
}

.postBtn {
  margin-left: 40%;
}
